.navbar {
    background-color: hotpink;
    padding: 25px;
}

.item {
    color: white;
    font-weight: bold;
    display: block;
    margin: 20px;  
}
.item  {
    text-decoration: none;
}

.active {
    color:yellow;
}
